.alert-success {
    background-color: #cbf078;
    color:  #233142;
}

.alert-warning {
    background-color: #f8f398;
    color:#233142;
}

.alert-danger {
    background-color: #e46161;
}

.alert-info {
    background-color: #f1b963;
}

div {
    margin: 5px;
}

.navbar{
    background-color: #f95959 !important;
}



nav li{display: inline;}
/* , input[type=submit] */
nav li a{
    background-color: #e3e3e3;
    color: #233142;
    /* text-decoration: none; */
}

/* , input[type=submit]:hover */

nav li a:hover{
    transition: background-color 0.1s ease-in-out !important;
    /* transition: color 0.5s ease-in-out; */
    background-color: #888888 !important;
    /* color: #2331426b; */
}

/* input{border-radius: 50%;} */
input{
    font-family: "Merriweather", serif !important;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #233142 !important;
    color: #e3e3e3;
    font-family: "Merriweather", serif !important;
    font-weight: 400;
    font-style: normal;
}

#HASH {
    display: flex;
    justify-content: space-between;
  }
  
.bordered-list {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;     /* Rounded corners */
    padding: 5px;           /* Optional padding for spacing */
}