.alert-success {
    background-color: #cbf078;
    color:  #233142;
}

.alert-warning {
    background-color: #f8f398;
    color:#233142;
}

.alert-danger {
    background-color: #e46161;
}

.alert-info {
    background-color: #f1b963;
}

div {
    margin-bottom: 5px;
    
}

:root {
    --bs-primary: #4CAF50; /* Change primary color */
    --bs-secondary: #FF5733; /* Change secondary color */
    --bs-font-sans-serif: 'Roboto', sans-serif; /* Change font */
}

body {
    color: #eeeeee;
    background-color: #394a51;
}

.navbar {
    background-color: #fdc57b !important;
}

#HASH {
    display: flex;
    justify-content: space-between;
  }
  
.bordered-list {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;     /* Rounded corners */
    padding: 5px;           /* Optional padding for spacing */
}


.toast-header {
    font-size: 1.25rem; /* Slightly larger than the body text */
    /* padding: 0.75rem; Adjust padding to scale with the toast size */
    width: 100%;
}

.toast-body {
    font-size: 1rem; /* Body text size matches the base */
    /* padding: 1rem; Ensure consistent internal spacing */
}



.toast .btn-close {
    transform: scale(1.2); /* Scale the close button slightly for larger toasts */
}



.toast {
    width: 600px; /* Set a fixed or flexible width */
    min-width: 400px; /* Minimum width to maintain usability */
    max-width: 90%; /* Allow flexibility for smaller screens */
    /* padding: 1rem; Use relative units */
    font-size: 1rem; /* Base font size */
}

